@import "../../css/colors.css";

.news {
    background: $pen-primary;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.375rem 0;
}

.text {
    flex-grow: 1;
    color: white;
    text-align: center;
}

.text a {
    color: inherit;
}

.close {
    margin-right: 0.5rem;
}
